@import "../../index.css";

.products-section {
  margin: 4rem 0rem;
  position: relative;
}

.products-container {
  position: relative;
  padding: 0rem;
  flex: 1 1 0%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 60vw;
  color: var(--gray-600);
}

@media only screen and (min-width: 450px) {
  .products-container {
    padding: 0 1rem;
  }
  .products-section {
    margin: 0rem 0rem;
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .products-container {
    display: flex;
    position: relative;
    padding: 0;
  }

  .products-section {
    margin: 0rem 2rem 0;
  }
}
